{% extends '::baseadmin.html.twig' %}

{% block body %}
	{{dump()}}

{% form_theme form 'AdminBundle::jquery.collection.html.twig' %}
 {#{form(form)}#}
 
 
{{ form_start(form) }}
  
<div class="row">
	<div class="col-sm-6">{{ form_row(form.date) }}</div>
	<div class="col-sm-6">{{ form_row(form.time) }}</div>
</div>	

<div class="row">
	<div class="col-sm-6">{{ form_row(form.direction) }}</div>
	<div class="col-sm-6">{{ form_row(form.quantity) }}</div>
</div>

<div class="row">
	<div class="col-sm-12">{{ form_row(form.comment) }}</div>
</div>




{% macro widget_prototype(price) %}
<div class="row">
	<div class="col-sm-3">{{ form_row(price.category) }}</div>
	<div class="col-sm-3">{{ form_row(price.roundTrip) }}</div>
	<div class="col-sm-3">{{ form_row(price.price) }}</div>
</div>
{% endmacro %}

<div  id="cruisebundle_cruise_prices" class="prices" data-prototype="{{ _self.widget_prototype(form.prices.vars.prototype)|e }}" data-allow-add="1" data-allow-remove="1" data-prototype-name="{{(form.prices.vars.prototype.vars.name)}}" data-allow-add="1" data-allow-remove="1" data-name-prefix="{{form.prices.vars.full_name}}">

{% for price in form.prices %}
	{{ _self.widget_prototype(price) }}
{% endfor %}
</div>


{{ form_widget(form) }}

    <input class="btn btn-success" type="submit" value="Сохранить" />
{{ form_end(form) }}	
	
{% endblock %}


{% block javascripts %}


<script src="{{asset('js/jquery.collection.js')}}"></script>

<!-- Инициализация виджета "Bootstrap datetimepicker" -->
<script type="text/javascript">
  $(document).ready(function () {
    //Идентификатор элемента HTML (например: #datetimepicker1), для которого необходимо инициализировать виджет "Bootstrap datetimepicker"
    $('#cruisebundle_cruise_date').datetimepicker({
	language: 'ru',
	pickTime: false, 
	format: 'YYYY-MM-DD', 
	viewMode: 'months',

	});
    $('#cruisebundle_cruise_time').datetimepicker({language: 'ru',pickDate: false,minuteStepping:30, defaultDate:"10:00"});
	
	
	
	$('.prices').collection({
		prototype_name: '{{ form.prices.vars.prototype.vars.name }}',		
		name_prefix :   ' {{form.prices.vars.full_name}} ' ,
		//allow_duplicate:true
	});

	
  });
  

  
  
</script>
{% endblock %}