{% extends '::baseadmin.html.twig' %}

{% block body %}

	{#{dump()}#}
	<br>
		<a class="btn btn-success" href="{{path('admin_cruise_new')}}">Добавить круиз вручную</a>
		<a class="btn btn-success" href="{{path('admin_cruise_new_excel')}}">Добавить круизы из EXCEL</a>
		<br>
		<br>
	
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Активен</th>
			
			<th>Дата отправления</th>
			<th>Направление</th>
			
			<th>Время отправления</th>
			<th>Мест для продажи</th>
			
			<th>Осталось свободно</th>
			<th>Комментарий</th>
			<th></th>
		</tr>
{{ form_start(form) }}
		<tr>
			<th></th>
			<th>{{ form_widget(form.active) }}</th>
			<th>{{ form_widget(form.date) }}</th>
			<th>{{ form_widget(form.direction) }}</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>{{ form_widget(form.submit) }}</th>
		</tr>
{{ form_end(form) }}

	{% for cruise in cruises %}
		
		<tr>
			<td>{{cruise.id}}</td>
			<td>{% if cruise.active == 1 %} Активен {% else %} <span style="color:red">X</span> {% endif %}</td>
			
			<td>{{cruise.date | localizeddate('full', 'none', null, null, 'dd MMM Y (eee)') }}</td>
			<td>{{cruise.direction.name}}</td>
			<td>{{cruise.time | localizeddate('full', 'none', null, null, 'HH : mm') }}</td>
			<td>{{cruise.quantity}}</td>

			<td>{{cruise.freeCount}}</td>
			<td>{{cruise.comment}}</td>
			<td><a href="{{path('admin_cruise_edit',{'id':cruise.id})}}" class="btn btn-success">Редактировать</a></td>
		</tr>		
	
	{% endfor %}
	</table>
{% endblock %}