{% extends '::baseadmin.html.twig' %}

{% block body %}

	{#{dump()}#}
	<br>
		<a class="btn btn-success" href="{{path('admin_cruise_new')}}">Добавить круиз вручную</a>
		<a class="btn btn-success" href="{{path('admin_cruise_new_excel')}}">Добавить круизы из EXCEL</a>
		<br>
		<br>
	
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Направление</th>
			<th>Дата отправления</th>
			<th>Время отправления</th>
			<th>Мест для продажи</th>
			<th style="min-width: 340px;">Цены</th>
			<th>Осталось свободно</th>
			<th>Комментарий</th>
			<th></th>
		</tr>


	{% for cruise in cruises %}
		
		<tr>
			<td>{{cruise.id}}</td>
			<td>{{cruise.direction.name}}</td>
			<td>{{cruise.date | localizeddate('full', 'none', null, null, 'dd MMM Y (eee)') }}</td>
			<td>{{cruise.time | localizeddate('full', 'none', null, null, 'HH : mm') }}</td>
			<td>{{cruise.quantity}}</td>
			<td>
			{% for price in cruise.prices %}
				{{price.category.name}} {{price.roundTrip.name}}  <span style="float:right; font-weight:700; ">{{price.price | number_format(0, '.', ' ') }} руб.</span><br>
			{% endfor %}
			</td>
			<td></td>
			<td>{{cruise.comment}}</td>
			<td><a href="{{path('admin_cruise_edit',{'id':cruise.id})}}" class="btn btn-success">Редактировать</a></td>
		</tr>		
	
	{% endfor %}
	</table>
{% endblock %}